<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chaunLauncher | dashboard</title>
    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#22252a">
    <meta name="robots" content="all,follow">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <!--charts-->
    <link rel="stylesheet" href="/css/Chart.min.css">
</head>

<body>
    <header class="header">
        <%- include('partials/headbar'); %>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">

            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li class="active">
                    <a href="/dashboard"> <i class="icon-home"></i>Dashboard </a>
                </li>

                <li>
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"><i
                            class="fa fa-list" aria-hidden="true"></i>Lists </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">

                        <li><a href="/dashboard/manage/ignoreList/"><i class="fa fa-star"
                                    aria-hidden="true"></i>Ignore</a></li>


                    </ul>
                </li>
                <li>
                    <a href="/dashboard/manage/status"><i class="fa fa-play" aria-hidden="true"></i>Status </a>
                </li>

            </ul>

        </nav>
        <!-- Sidebar Navigation end-->




        <div class="page-content">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Dashboard</h2>
                </div>
            </div>


            <section class="no-padding-top no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="statistic-block block">
                                <div class="progress-details d-flex align-items-end justify-content-between">
                                    <div class="title">
                                        <div class="icon"><i class="fa fa-area-chart"></i></div><strong>Today's request
                                        </strong>
                                    </div>
                                    <div class="number dashtext-1">
                                        <%= stats[0].count %>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="statistic-block block">
                                <div class="progress-details d-flex align-items-end justify-content-between">
                                    <div class="title">
                                        <div class="icon"><i class="fa fa-file-code-o"></i></div>
                                        <strong>GameFiles</strong>
                                    </div>
                                    <div class="number dashtext-2">
                                        <%= gameFiles %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="statistic-block block">
                                <div class="progress-details d-flex align-items-end justify-content-between">
                                    <div class="title">
                                        <div class="icon"><i class="fa fa-star"></i></div><strong>Ignored files</strong>
                                    </div>
                                    <div class="number dashtext-3">
                                        <%= ignoredItemNumber  %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="statistic-block block">
                                <div class="progress-details d-flex align-items-end justify-content-between">
                                    <div class="title">
                                        <div class="icon"><i class="fa fa-file-archive-o"></i></div>
                                        <strong>JavaFiles</strong>
                                    </div>
                                    <div class="number dashtext-4">
                                        <%= javaFiles %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="bar-chart block ">
                                <div class="title">
                                    <strong>Actualiser la liste de fichiers</strong>
                                </div>
                                <form action="/dashboard/manage/refresh" method="post" class="form-inline">
                                    <div class="form-group">
                                        <input type="submit" value="Refresh" class="btn btn-primary">
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="line-cahrt block">
                                <div class="title">
                                    <strong>Lancements du launcher</strong>
                                </div>
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>








            <%- include('partials/footer'); %>
        </div>
    </div>





    <%- include('partials/js'); %>

        <script src="/js/Chart.min.js"></script>

        <script>
            let stats = JSON.parse('<%-JSON.stringify(stats)%>');

            let labels = [];
            let value = [];

            stats.forEach(day => {

                labels.push(day.date);
                value.push(day.count);
            })

            var config = {
                type: 'line',
                data: {
                    labels: labels.reverse(),
                    datasets: [{
                        label: 'Nombre de lancements',
                        backgroundColor: "#864DD9",
                        borderColor: "#864DD9",
                        data: value.reverse(),
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Jour'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Lancements'
                            }
                        }]
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myLine = new Chart(ctx, config);
            };
        </script>




</body>

</html>